<% if(locals.service) { const serviceContent=locals.service.content; %>
    <%- include("partials/header.ejs", { pageTitle: serviceContent.title }); %>
        <main class="comfortaa page-content">
            <div class="text-light text-center">
                <div class="img-container">
                    <img class="img-background" src="<%= locals.service.background %>">
                    <div class="img-text p-5 d-flex justify-content-center align-items-end">
                        <div class="container-fluid px-5">
                            <h1 class="display-3 fw-bold text-start">
                                <%= serviceContent.title %>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <% for (let k=0; k < serviceContent.sections.length; k++) { let currentSection=serviceContent.sections[k];
                let headline=currentSection.headline; let message=currentSection.message; let
                listContents=currentSection.listItems; let galleryImages=currentSection.imagePaths; let
                footnote=currentSection.footnote; %>
                <div class="text-light p-5">
                    <div class="container-fluid p-5">
                        <h3 class="display-5 fw-bold mb-4">
                            <%= headline %>​
                        </h3>
                        <p class="fw-lighter fs-3">
                            <%= message %>​
                        </p>
                    </div>
                </div>

                <div class="text-light blue-bg-2">
                    <div class="row g-0 align-items-center">
                        <div class="col-12 col-lg-5 <% if (k % 2 === 1) { %>order-lg-last<% } %>">
                            <div class="p-5 my-auto">
                                <% if (Array.isArray(listContents) && listContents.length> 0) { %>
                                    <ul class="fs-4">
                                        <% for (let i=0; i < listContents.length; i++) { %>
                                            <li>
                                                <%= listContents[i].mainItem %>
                                                    <% let nestedListContent=listContents[i].nestedList; if
                                                        (Array.isArray(nestedListContent) && nestedListContent.length>
                                                        0) {
                                                        %>
                                                        <ul>
                                                            <% for (let j=0; j < nestedListContent.length; j++) { %>
                                                                <li>
                                                                    <%= nestedListContent[j] %>
                                                                </li>
                                                                <% } %>
                                                        </ul>
                                                        <% } %>
                                            </li>
                                            <% } %>
                                    </ul>
                                    <% } %>
                                        <% if (footnote !=="" ) { %>
                                            <p class="mt-4 fs-6 fw-lighter">
                                                <%= footnote %>
                                            </p>

                                            <% } %>
                            </div>
                        </div>
                        <div class="col-12 col-lg-7 <% if (locals.serviceCode === "AMS") { %>bg-light<% } %> 
                            <% if (k % 2 === 1) { %>order-lg-first<% } %>">
                            <% if(Array.isArray(galleryImages)) { %>
                                <div class="row g-0 image-gallery">
                                    <% let notPanoramicCount = 0; for(let k=0; k < galleryImages.length; k++) { %>
                                        <div class="d-flex <% if (galleryImages[k].isPanoramic) { notPanoramicCount = 0; %>col-12 justify-content-center
                                            <% } else { %>col-4 
                                            <% switch(notPanoramicCount % 3) { case 2: %>
                                            justify-content-start<% break; case 1: if(k  === galleryImages.length - 1) {%>
                                                justify-content-start<% } else { %>
                                            justify-content-center bg-light <% } break; default: if(k === galleryImages.length - 1) {%>
                                                justify-content-center<% } else { %>
                                            justify-content-end<% }} notPanoramicCount++; } %>">
                                            <img class="img-fluid <% if (galleryImages[k].shrink) { %>
                                                img-shrink my-auto<% } %>" src="<%= galleryImages[k].file %>">
                                        </div>
                                        <% } %>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
                <% } %>
                    <div class="text-light text-center blue-bg">
                        <div class="container p-5">
                            <h1 class="display-5 fw-bold my-5">Discover more information about this service:</h1>
                            <a class="btn btn-lg btn-light text-blue" href="/contact">Get Started</a>
                        </div>
                    </div>
        </main>
        <%- include("partials/footer.ejs"); %>
            <% } %>
