<%- include("partials/header.ejs", { pageTitle: "Services" }); %>

<main class="comfortaa page-content">
    <div class="text-light text-start">
        <div class="img-container">
            <img class="img-background" src="/images/ems.jpg">
            <div class="img-text p-5 d-flex justify-content-end align-items-end dark-transparent-bg">
                <div class="container-fluid py-5">
                    <h1 class="display-3 fw-bold">Our Services</h1>
                    <p class="fs-4 my-4">
                        Suba Technology’s technical staff has been serving the industries for over 25 plus years and 
                        continue to learn new solutions to be in constant parallel with the ever changing world of 
                        innovations. Our talented staff is fully committed to meet and understand the 
                        customers' needs. We will be their partner in their never-ending quest for quality, 
                        competitiveness and profitability.
                    </p>
                </div>
            </div>
        </div>
    
        <div class="blue-bg feature-block">
            <div class="container-fluid">
                <% 
                if(locals.serviceList) { 
                    const serviceList = locals.serviceList;
                %>
                <div class="row gx-md-2 gx-lg-4 gx-0 gy-5 features justify-content-center">
                    <% for (const serviceName in serviceList) { %>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                        <a class="card-link" href="<%= serviceList[serviceName].pageLink %>">
                            <div class="card-container">
                                <div class="card border-light-subtle">
                                    <img class="card-img-top" src="<%= serviceList[serviceName].imagePath %>">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                        <object class="service-svg mb-2" type="image/svg+xml" data="<%= serviceList[serviceName].pathToSVG %>"></object>
                                        <h2 class="fw-normal fs-4 text-center"><%= serviceList[serviceName].serviceType %></h2>
                                    </div>
                                </div>
                                <div class="card card-shadow">
                                    <div class="card-body"></div>
                                </div>
                                <div class="card card-shadow-2">
                                    <div class="card-body"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="text-light text-center blue-bg-2">
        <div class="container p-5">
            <h1 class="display-5 fw-bold my-5">Explore our high-quality services from Suba Technology.</h1>
            <a class="btn btn-lg btn-light text-blue" href="/contact">Get Started</a>
        </div>
    </div>
</main>

<%- include("partials/footer.ejs"); %>
