<% if(locals.serviceContent) { const serviceContent=locals.serviceContent; %>
    <%- include("partials/header.ejs", { pageTitle: serviceContent.title }); %>
        <main class="comfortaa page-content">
            <div class="text-light text-center">
                <div class="img-container">
                    <img class="img-background" src="/images/image015.png">
                    <div class="img-text p-5 d-flex justify-content-center align-items-end dark-transparent-bg">
                        <div class="container p-5">
                            <h1 class="display-3 fw-bold text-start">
                                <%= serviceContent.title %>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <% for (let k=0; k < serviceContent.sections.length; k++) { let currentSection=serviceContent.sections[k];
                let headline=currentSection.headline; let message=currentSection.message; let
                listContents=currentSection.listItems; let galleryImages=currentSection.imagePaths; let
                footnote=currentSection.footnote; %>
                <div class="text-light">
                    <div class="container p-5">
                        <h3 class="display-5 fw-bold mb-4">
                            <%= headline %>​
                        </h3>
                        <p class="fw-lighter fs-4">
                            <%= message %>​
                        </p>
                    </div>
                </div>

                <div class="text-light blue-bg-2">
                    <div class="row g-0 align-items-center">
                        <div class="col-12 col-lg-5 <% if (k % 2 === 1) { %>order-lg-last<% } %>">
                            <div class="p-5 my-auto">
                                <% if (Array.isArray(listContents) && listContents.length> 0) { %>
                                    <ul class="fs-4">
                                        <% for (let i=0; i < listContents.length; i++) { %>
                                            <li>
                                                <%= listContents[i].mainItem %>
                                                    <% let nestedListContent=listContents[i].nestedList; if
                                                        (Array.isArray(nestedListContent) && nestedListContent.length>
                                                        0) {
                                                        %>
                                                        <ul>
                                                            <% for (let j=0; j < nestedListContent.length; j++) { %>
                                                                <li>
                                                                    <%= nestedListContent[j] %>
                                                                </li>
                                                                <% } %>
                                                        </ul>
                                                        <% } %>
                                            </li>
                                            <% } %>
                                    </ul>
                                    <% } %>
                                        <% if (footnote !=="" ) { %>
                                            <p class="mt-4 fs-6 fw-lighter">
                                                <%= footnote %>
                                            </p>

                                            <% } %>
                            </div>
                        </div>
                        <div class="col-12 col-lg-7 <% if (k % 2 === 1) { %>order-lg-first<% } %>">
                            <% if(Array.isArray(galleryImages)) { %>
                                <div class="image-gallery">
                                    <% let lastPanoramaIndex = 0; for(let k=0; k < galleryImages.length; k++) { %>
                                        <div class="d-flex <% if(galleryImages[k].isPanorama) { lastPanoramaIndex = k + 1; %>panorama<% } else if((lastPanoramaIndex + k) % 2===0) { %>justify-content-end<% } %>">
                                            <img class="img-fluid" src="<%= galleryImages[k].file %>">
                                        </div>
                                        <% } %>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
                <% } %>
                    <div class="text-light text-center blue-bg">
                        <div class="container p-5">
                            <h1 class="display-5 fw-bold my-5">Discover more information about this service:</h1>
                            <a class="btn btn-lg btn-light text-blue" href="/contact">Get Started</a>
                        </div>
                    </div>
        </main>
        <%- include("partials/footer.ejs"); %>
            <% } %>
